body {
    font-family: Arial, sans-serif;
    background: url("./képek/banner_kep_fooldal.png") no-repeat center; /*valami kép a bannerbe*/
}

.hero {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.info-block {
    background: white;
    padding: 40px;
    border-radius: 15px;
}

.btn-reg {
    background-color: #10510c;
    color: white;
}

.btn-reg:hover {
    background-color: #0a3509;
    color: white;
}

/*Navbar css része*/
.navbar {
    border-bottom: 2px solid #ddd;
}

.navbar .dropdown-menu {
    position: absolute;
    z-index: 2000;
}

.offcanvas {
    width: 260px;
}

.btn-kat {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    background: #f5f5f5;
    transition: 0.2s;
}

.btn-kat:hover {
    background: #e1e1e1;
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}
/*navbar*/